body {
  font-family: "Open Sans", sans-serif; }

h1, h2, h3 {
  font-family: "Lobster", cursive; }

header h1 {
  color: orange; }

header h2 {
  font-size: larger;
  color: #551A8B; }

.site-footer {
  background-image: linear-gradient(#CEC8FF, white);
  padding: 20px 0; }

.jumbotron {
  margin: 0;
  /* Remove space between Jumbotron surrounding elements */
  padding: 10px;
  background-image: linear-gradient(to right, #38bb33, #38bb33, #CCFFCC);
  color: white; }

.row-content {
  padding: 5px 0;
  border-bottom: 1px ridge;
  min-height: 200px; }

.navbar {
  background-color: #901CAD;
  padding-top: 0rem;
  padding-bottom: 0rem; }

.tab-content {
  border: 1px solid #DDD;
  border-top: none;
  padding: 10px; }

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5); }

.carousel {
  border: solid #F8F9FA; }

#carouselButton {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 100; }

.cardbgl {
  background-color: #eeecfb; }

.cardbgm {
  background-color: #f5f5f9; }

fieldset {
  background: lavender;
  border: 5px solid darkblue;
  border-radius: 10px;
  margin-bottom: 5px;
  width: 750px; }

.divpad {
  padding-right: 1rem;
  padding-left: 1rem; }
