
$color-primary: #CCFFCC;
$color-secondary: #F8F9FA;
$color-dark: #4AAD52;   
$color-paw: #FFA501; 
$color-card-light: #eeecfb; 
$color-card-mid: #f5f5f9;
$color-black-transparent: rgba(0, 0, 0, 0.5);

$body-font: "Open Sans", sans-serif;
$header-font: 'K2D', sans-serif;

body{
    font-family: $body-font;
}

h1, h2, h3{
    font-family: $header-font;
}

header {
    h1 {
        color: $color-paw;
    }
    h2 {
        font-size: larger;
        color: $color-paw;  
    }
}

.site-footer{
    background-color: $color-dark;
    // background-image: linear-gradient(white, $color-dark);
    padding: 20px 0;
}

.jumbotron{
    margin: 0;  /* Remove space between Jumbotron surrounding elements */
    padding: 10px;
    background-color: $color-dark;
    //background-image: linear-gradient(to right, $color-secondary, $color-primary, $color-dark);
    color: white;
}

.row-content{
    padding: 5px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.navbar {
    background-color: $color-dark;  
    padding-top: 0rem;
    padding-bottom: 0rem;
}

.tab-content {
    border: 1px solid #DDD;
    border-top: none;
    padding: 10px;
}

.carousel-caption {
    background-color: $color-black-transparent;
}

.carousel {
    border: solid $color-secondary;
}

#carouselButton {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 100;
}

.cardbgl {
    background-color: $color-card-light;
}

.cardbgm {
    background-color: $color-card-mid;
}

fieldset{
    background: #C1DBE3; 
    border: 5px solid darkblue;
    border-radius: 10px;
    margin-bottom: 5px;
}

.divpad {
    padding-right: 1rem;
    padding-left: 1rem;
}

.text-danger {
    font-size: 19.5px;
    font-weight: bold;
}

.text-success {
    font-size: 19.5px;
    font-weight: bold;
}

.text-15 {
    font-size: 15.6px;
}